@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, white, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, white, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Main{
    margin-top: 10px;
    text-align: center;
    color: white;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(sandybrown, mediumpurple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.center{
    border: 5px;
    text-align: center;
    color: white;
}

.copy{
    border: 5px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(45deg, red, orange, yellow, greenyellow, aqua, skyblue, darkblue, mediumpurple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper{
    width: 100%;
    height: 100%;
}

.lboard_section{
    width: 500px;
    height: 400px;
    margin: 30px auto 0;
    background: #808080;
    padding: 25px 40px;
    position: relative;
    border-radius: 10px;
}

.lboard_section .lboard_tabs ul{
    display: flex;
}

.lboard_section .lboard_tabs ul li{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    color: greenyellow;
    cursor: pointer;
}

.lboard_section .lboard_tabs ul li:hover,
.lboard_section .lboard_tabs ul li.active{
    color: #fff;
}

.lboard_wrap{
    position: absolute;
    top: 70px;
    left: 40px;
    background: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.lboard_wrap .lboard_item{
    padding: 25px;
}

.lboard_wrap .lboard_mem{
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid greenyellow;
}

.lboard_wrap .lboard_mem:first-child{
    padding-top: 0;
}

.lboard_wrap .lboard_mem:last-child{
    padding-bottom: 0;
    border-bottom: 0;
}

.lboard_wrap .lboard_mem .name_bar{
    margin: 0 20px;
    width: calc(100% - 150px);
}

.lboard_wrap .lboard_mem .name_bar p{
/*    color: #3a3d51;*/
    color: white;
}

.lboard_wrap .lboard_mem .name_bar p span{
    margin-right: 5px;
}

.lboard_wrap .lboard_mem .points{
    width: 100px;
/*    color: #3a3d51;*/
    color: white;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap{
    width: 100%;
    height: 5px;
    background: dimgray;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.lboard_wrap .lboard_mem .name_bar .bar_wrap .inner_bar{
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
/*    background: greenyellow; */
    background: -webkit-linear-gradient(45deg, deeppink, rebeccapurple);
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.lboard_wrap .lboard_mem .name_bar .dev{
    color: aqua;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(45deg, aqua, whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lboard_wrap .lboard_mem .name_bar .gm{
    color: darkgreen;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(45deg, green, darkgreen);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lboard_wrap .lboard_mem .name_bar .yt{
    color: red;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(45deg, red, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lboard_wrap .lboard_mem .name_bar .l3p{
    color: goldenrod;
}

.lboard_wrap .lboard_mem .name_bar .l2p{
    color: aqua;
}

.lboard_wrap .lboard_mem .name_bar .l1p{
    color: greenyellow;
}

.lboard_wrap .lboard_mem .name_bar .devg{
    color: aqua;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(45deg, aqua, whitesmoke);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lboard_wrap .lboard_mem .name_bar .teag{
    color: red;
    -webkit-text-fill-color: transparent; /* Webkit Disable Fallback */

    /* Text color gradient properties */
    background: -webkit-linear-gradient(45deg, red, darkred);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.lboard_wrap .lboard_mem .name_bar .l3g{
    color: yellow;
}

.lboard_wrap .lboard_mem .name_bar .l2g{
    color: forestgreen;
}

.lboard_wrap .lboard_mem .name_bar .l1g{
    color: cadetblue;
}

.lboard_wrap .lboard_mem .name_bar .l0p{
    color: white;
}

.lboard_wrap .lboard_mem .name_bar .l0g{
    color: white;
}
